@import '../../../styles.scss';

.bg-light {
    background-color: #563d7c !important;
}

.logo {
    max-height: 180px;
    max-width: 250px;
}

.fa-google-plus:focus {
    color: red !important;
}

.fa-twitter:hover {
    color: #2b55ff;
}

.fa-twitter:focus {
    color: #2b55ff;
}

.fa-google-plus {
    background-color: #87CEFA;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
}

.carrinho{
    color: #ffd507;
}

.entrar{
    color: #ffd507 !important;
    font-weight: bold;
    font-size: 20px ;
    padding-top: 18px !important;
}

.fixed-top{
    position: initial;
}

@media (min-width: 576px) {
    .form-inline .input-group,
    .form-inline .custom-select {
        width: 450px !important;
    }
}